# Ignore everything
*

# Do not ignore the .gitignore file itself
!.gitignore

!src/
!data_conversion/
!data_analysis/
!eval/
!scripts/
!docs/
!ongoing_task/
!configs/
!important_demo/
!vis_tools/

# Un-ignore top-level folders
!scripts/**
!ongoing_task/**
!configs/**
!important_demo/**
!docs/**
!data_conversion/**
!data_analysis/**
!eval/**
!vis_tools/**

# Un-ignore everything inside those folders
!src/**
!data_conversion/*
!data_analysis/**
!eval/**


!*.log
!*.md


**/__pycache__
