# Ignore everything
*

# Do not ignore the .gitignore file itself
!.gitignore

# Un-ignore top-level folders
!src/
!data_conversion/
!data_analysis/
!eval/

# Un-ignore everything inside those folders
!src/**
!data_conversion/**
!data_analysis/**
!eval/**


**/__pycache__
